html{
    background-color: var(--background-body);
}

.page {
  display: flex;
  width: 100%;
  max-width: 800px;
}

main {
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  justify-content: center;
  align-items:start;
  margin-bottom: 15px;
}

form button{
  margin-bottom: 10px;
  margin-left: 5px;
}

.movies {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 
  width: 100%;
  gap: 32px;
}

.movie {
  text-align: center;
}

.movie h3, .movie p {
  margin: 0;
}

.movie img {
  border-radius: 8px;
  margin-top: 16px;
}